html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#temps, #temps_value, #fruits_bonus, #points, #points_value {
    display : inline-block;
}
#temps {
    position : absolute;
    left : 13px;
    top : 0px;
}

#temps_value {
    position : absolute;
    left : 90px;
    top : 0px;
    font-weight : bold;
}
#points {
    position : absolute;
    left : 345px;
    top : -8px;
    font-size : 1.5rem;
}

#points_value {
    position : absolute;
    left : 430px;
    top : -8px;
    font-size : 1.5rem;
    font-weight : bold;
    color : #E02B81;
}

#fruits_bonus {
    position : absolute;
    left : 190px;
    top : 20px;

}

#fruits, #bonus, #fruits_value, #bonus_value {
    padding : 0px;
    margin : 0px;
    display : inline-block;
    font-size : 1rem;
}

#fruits_value, #bonus_value {
    display : inline-block;
    font-weight : bold;
}

#score {
    width : 502px; 
    height : 50px;
    border : 1px;
    border-style : solid solid none solid;
    background-color : #CDFEE4;
    border-radius : 5px 5px 0px 0px;
    font-family : 'Comic Sans MS';
    font-size : 1.25rem;
}

#jeu {
    border : 1px solid;
    background-color : #FFFF99;
    border-radius : 0px 0px 5px 5px;
    display : block;
}

#affiche {
    position : absolute;
    left : 550px;
    width : 600px;
    top : 0px;
}

#keys {
    position : absolute;
    left : 550px;
    width : 600px;
}

#pseudo {
    position : absolute;
    top : 400px;
    left : 185px;
    width : 150px;
}

#liste_scores {
    position : absolute;
    top : 70px;
    left : 40px;
    font-size : 0.75rem;
}

#liste_scores tr td {
    padding : 5px;
}

#tr_titre {
    font-weight : bold;
    color : #E64200;
}

#td_score_nom {
    font-weight : bold;
}
